#divTitle{
    display: inline-block;
    /* position: absolute; */
    font-weight: 550;
/* left: 20%; */
    margin-left: 15px;
    font-size: 28px;
    /* border: 1px solid; */
}
#divEmpty{
    margin-top: 15px;
    /* background-color: #000; */
    
}
#divBottom{
    position: fixed;
    bottom: 0;

    background-color: rgba(255, 0, 0, 0.23);
    /* border: 1px solrgba(29, 24, 175, 0.222)*/
    /* width: 100px; */
}
.divEx{
    /* border: 1px solid; */
    color: rgba(0, 0, 0, 0.423);
}
#inputEndResult{
    width: 100px !important;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;

}
#defaultDivInResult{
    height: 50px;
    /*
    display: flex;
    align-items:center ; 
    */

    margin-right: 3px;
    /* margin-right: 10px;  */
    /* text-align: right; */
    /* background-color: #000; */
}
#bgcolorNotBlack{
    color: rgb(255, 255, 255);
    border: 10px ;
}
#listIcon{
    background-color: #fff;
}
/*버튼 배경색 없애주기*/
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* *기본 설정*/
* { 
    /* font-family: Roboto,Arial,sans-serif; */
    font-family: "Poppins",sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.defaultInput{
    width: 60px;
    border-radius: 3px;
}
.defaultDiv{

    display: flex;
    /* 새로 가운데 정렬 */
    /* justify-content: center;  */
    margin: auto;
    /* margin: auto; 가로 가운데 정렬 */
    margin-top: 10px;
    
    padding-left: 10px;
    padding-top: 5px;
    /* padding: 20px 24px; */

    align-items: center; /*div 안에 내용 가운데 정렬*/
    
    /* border: 1px solid; */
    /* background-color: rgba(107, 102, 102, 0.055)!important;  */
    background: #ffffff;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 9%);
    border-radius: 10px;
    /* border-radius: 5px; */

}
#defaultDivInSentence{
    /* width: 380px; */
    /* height: 60px;
    margin-bottom: -30px; */
    /* background-color: rgb(176, 42, 42); */
}
/*최상단*/
#mainHeader{
    border-bottom: 1px solid rgba(0,0,0,.0975);

}
#mainHeaderin{

    height: 77px;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    max-width: 938px;
    margin: auto;
    background: #fff;
}

/* *최상단 이름 누르면 메인화면으로 이동 css */
#percentage-calculator {
    /* margin-left: 0px;
    color: rgb(97, 97, 97);
    cursor: pointer;
    text-decoration: none;

    font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
    margin: 0; */
}

#mainBody{
    
}

.mainBodyin{
    margin: auto;

    /*  
    display: flex;
    justify-content: center;
 

    align-items: center;  */
    background-color: #eef0f8;
    

    /* border: 1px solid; */
}

button{
    /*버튼 배경 없애기*/
    /* border: 0;
    outline: 0;
    background-color: #fff; */
}
/**
    text-decoration: none solid rgb(97, 97, 97); 
    하이퍼링크처럼 안보이게 해줌
*/

/*  스크롤바 안보이게 */

 ::-webkit-scrollbar { 
    width: 0px;
    background: transparent;
}